{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="project-detail">
          <h1>{{route.name}}</h1>
          <div class="image-detail">
            <p>
              <img src="../../media/{{ route.image }}" width = '200'>
            </p>
          <div class="route-detail">
            <p>Route description: {{route.description}}</p>

            <p>
              Location: {{route.location}}
            </p>
            <p>
              Climb type: {{route.type}}
            </p>
            <p>
              Grade: {{route.getRating}}
            </p>
            <p>
              <a href="{% url 'edit_route' route.id %}">Edit route details</a>
          </p>
          {% if ascents_for_route|length == 0 %}
            <p>
              You haven't climbed this route yet!
            </p>
            {% else %}
          <p>You climbed this route on: </p>
          {% for ascent in ascents_for_route %}
            {% if ascent.route.name == route.name %}
            <li>{{ascent.date}}: {{ascent.type}}</li>
            {% endif %}
          {% endfor %}
          {% endif %}
      </div>
    </div>
  </div>
    </main>
{% endblock content %}