{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="task-form">
            <h1>Edit</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="control">
                    <button class="button">Update</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}