{% extends 'base.html' %}

{% block content %}
<main class="route-grid">
  {% for route in route_list %}
    <div class="route-grid-entry">
      <h2 class="route-card-title"><a href="{% url 'show_route' route.id %}">{{route.name}}</a></h2>
      <p class="route-card-grade">{{route.getRating}}</p>
      <p class="route-grid-image"><img src="../media/{{ route.image }}" height = '200'></p>
      <p class="route-card-location">{{route.location}}</p>
  </div>
  {% endfor %}
</main>

{% endblock content %}