@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Color Theme Swatches in Hex */
.chalk-bag-1-hex {
  color: #32628C;
}

.chalk-bag-2-hex {
  color: #C2E9F2;
}

.chalk-bag-3-hex {
  color: #93BFB7;
}

.chalk-bag-4-hex {
  color: #DFF2E4;
}

.chalk-bag-5-hex {
  color: #0D0D0D;
}

:root {
  --darkBlue: #32628C;
  --lightBlue: #C2E9F2;
  --teal: #93BFB7;
  --lightGreen: #DFF2E4;
  --black: #0D0D0D;
  --lightGrey: #E8E5E3;
}


/* Set all elements to use the Open Sans font */
body,
input,
textarea,
button,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Set the background color of all pages */
html,
body {
  /* background-color: #F2F2F2; */
  background-color: var(--lightGrey);
}

/* Set the style of the navigation list */
header nav ul {
  background-color: white;
  border-bottom: 1px solid #CCC;
  box-sizing: border-box;
  list-style: none;
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0 0 0 1em;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: var(--darkBlue);

}

a:visited {
  color: var(--teal)
}

a:link {
  color: var(--darkBlue)
}

button.button {
  background-color: var(--teal);
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: var(--teal);
  color: var(--teal);
}

button.button:active {
  background-color: lightblue;
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
  margin: 0;
  padding: .25em .5em;
}

/* Set the width on all tables */
table {
  width: 100%;
}

.route-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 2em;
}

.route-grid-entry {
  display: grid;
  grid-template-rows: auto;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
  padding: 8px;
  background: white;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.route-grid-image {
  margin: 0 auto;
  display: block;
}

.route-card-title {
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
  text-justify: center;
}

.route-card-grade {
  color: darkgray;
}

.route-card-location {
  color: var(--darkBlue);
  justify-content: center;
  align-items: center;
}

.ascent-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  padding: 2em;
}

.ascent-grid-entry {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  padding: 2em;
  background-color: white;
  border-radius: 4px;
}

.title {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto 0;
  border-radius: 4px;
  max-width: 600px;
  background: var(--darkBlue);
  color: #fff;
  padding: 30px 10px;
  grid-column: span 5;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);

}

.bingo-card {
  max-width: 600px;
  border-radius: 4px;
  width: 100%;
  margin: 2px auto 0;
  overflow: hidden;
  background: var(--darkBlue);
  padding: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
}

.bingo-card-entry {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 4px;
  background: var(--lightBlue);
  border-radius: 4px;
  align-items: center;
}

.bingo-card-entry:hover {
  background: #73B8BF;
  color: white;
}

/* .bingo-card-entry:active {
  background: var(--teal);
} */

.bingo-card-free-space {
  display: grid;
  grid-template-columns: auto;
  padding: 8px;
  background: white;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.bingo-card-goal {
  /* margin-bottom: 0; */
  text-align: center;
  text-justify: center;
}

.image-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.route-detail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}


/* Set the size of the help text in forms */
.helptext {
  display: block;
  font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
  margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
  padding: 0.25em 1em;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}