{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main>
        <div class="login-form">
          <img src="{% static 'img/kg-harness-01.png' %}" alt="" height='100'>
          <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">Log In</button>
            </form>
        </div>
    </main>
{% endblock content %}