{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main>
        <div class="signup-form">
          <img src="{% static 'img/kg-chalk-bag-01.png' %}" alt="" height='100'>
            <h1>Sign up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">Sign up</button>
            </form>
        </div>
    </main>
{% endblock %}