{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ascent.name}}</h1>
            <p>{{ascent.date}}</p>
            <p>{{ascent.type}}</p>
            <p>{{ascent.notes}}</p>
            <a href="{% url 'edit_ascent' ascent.id %}">Edit ascent</a>
        </div>

    </main>
{% endblock content %}