{% extends 'base.html' %}

{% block content %}
<main>
  <div class="my-tasks-list">
    <h1>My Ascents</h1>
    <a href="{% url 'create_ascent' %}">Add Ascent</a>
    {% if ascent_list|length == 0 %}
    <p>You have no ascents</p>
    {% else %}
    <table>
      <thead>
          <tr>
              <th>Route name</th>
              <th>Ascent date</th>
              <th>Ascent type</th>
          </tr>
      </thead>
      <tbody>
        {% for ascent in ascent_list %}
              <tr>
                  <td><a href="{% url 'show_ascent' ascent.id %}">{{ascent.route.name}}</a></td>
                  <td>{{ascent.date}}</td>
                  <td>{{ascent.type}}</td>
              </tr>

          {% endfor %}
      </tbody>
  </table>
  </div>
  {% endif %}
</main>

{% endblock content %}
