{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <title>Belay Bingo</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                  <li>
                    <a href="{% url 'list_routes' %}"><img src="{% static 'img/kg-carabiner-01.png' %}" height = '30' alt=""></a>
                  </li>
                  {% if user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'ascents'%}">My Ascents</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                    <li>
                      <a href="{% url 'create_route' %}">Add a route</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'bingo_list' %}">Play Bingo!</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}

        {% endblock content %}
    </body>
</html>