{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="title">{{bingogame.name}}</h1>
<main class="bingo-card">

  {% for goal in goals_for_game %}
    {% if goal == "logo" %}
      <div class="bingo-card-free-space">
        <img src="{% static 'img/kg-chalk-bag-01.png' %}" alt="" height='120'>
      </div>
    {% else %}
      <div class="bingo-card-entry">
        <h2 class="bingo-card-goal">{{goal}}</h2>
      </div>
    {% endif %}
  {% endfor %}
</main>

{% endblock content %}