{% extends 'base.html' %}

{% block content %}
<main>
  <div class="my-tasks-list">
    <h1>My Bingo Games</h1>
    <a href="{% url 'bingo_game_create' %}">Create new game</a>
    {% if bingogame_list|length == 0 %}
    <p>You have no games</p>
    {% else %}
    <table>
      <thead>
          <tr>
              <th>Game name</th>
              <th>Created on</th>
          </tr>
      </thead>
      <tbody>
        {% for game in bingogame_list %}
              <tr>
                  <td><a href="{% url 'bingo_game' pk=game.id %}">{{game.name}}</a></td>
                  <td>{{game.created_on}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  {% endif %}
</main>

{% endblock content %}